[submodule "0x00-shell_basics/0x00-shell_basics/alx-system_engineering-devops"]
	path = 0x00-shell_basics/0x00-shell_basics/alx-system_engineering-devops
	url = https://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@github.com/SirajiNouha/alx-system_engineering-devops.git
